<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail signup confirm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            font-family: sans-serif;
            word-spacing: .3px;
            letter-spacing: .1px;
        }
    </style>
</head>
<body>
    <table style="padding: 24px; background-color: cornsilk; max-width: 550px; min-width: 100%; margin: 12px">
        <tbody>
            <tr>
                <td style="margin-bottom: 24px">
                    <img style="width: 12px; height: 12px; border-radius: 4px" src="https://static-00.iconduck.com/assets.00/fireworks-emoji-2048x2048-myr8wsym.png" />
                    <strong style="font-size: 24px; color: #333;">Welcome to travel app run4ever</strong>
                </td>
            </tr>
            <tr>
                <td style="font-size: 16px;">
                    <p style="margin-bottom: 12px">Let's confirm for register to join with us.</p>
                    <p>
                        <img style="width: 12px; height: 12px; border-radius: 4px" src="https://w7.pngwing.com/pngs/558/907/png-transparent-snake-vs-bricks-emoji-version-handshake-emojipedia-hand-emoji-hand-apple-color-emoji-emoticon.png">
                        <a href="{link-fe-signin-confirm}">
                            [[${link-fe-signin-confirm}]]
                        </a>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="margin-top: auto; color: #555; font-size: 12px; font-style: italic   ">
                    [[${year}]] &#169; Building by Nam & Bach (We're not dev) &#174; #dev4skill- #dev4us - #2devcuibep
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>