<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail signup confirm</title>
    <style>
        *{
            font-family: sans-serif;
            word-spacing: .3px;
            letter-spacing: .1px;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <table style="padding: 24px; background-color: lemonchiffon; max-width: 800px; width: 100%; margin: auto">
        <tbody>
            <tr>
                <td>
                    <strong style="display: block; margin-bottom: 24px; font-size: 24px; color: #333;">Welcome to travel app run4ever</strong>
                    <p style="margin-bottom: 12px; font-size: 16px;">Let's confirm for register to join with us.</p>
                    <p style="margin-bottom: 24px;">
                        <a style="font-size: 12px" th:href="${linkFeSignUpConfirm}">
                            [[${linkFeSignUpConfirm}]]
                        </a>
                    </p>
                    <p style="color: #555; font-size: 12px; font-weight: lighter; font-style: italic">
                        [[${year}]] &#169; Building by Nam & Bach (We're not dev) &#174; #dev4skill - #dev4us - #2devcuibep
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>